# Build and Release Folders
bin/
obj/
BlockchainEngine/bin/
BlockchainEngine/obj/
BlockchainEngine.Tests/bin/
BlockchainEngine.Tests/obj/
Examples/SimpleBlockchain/bin/
Examples/SimpleBlockchain/obj/
Examples/SmartBlockchain/bin/
Examples/SmartBlockchain/obj/
build*
as*.md
val*.txt
Examples/SimpleBlockchain/Data/*


# Documentation and Log Files generated dynamically
release*
PRO*.md
ses*.md

aci*.md
pro*.txt
doc*.md

# IDE specific files
.vs/
.vscode/
*.user
*.suo
